{% extends 'base.html' %}
{% block title %}Driver Search{% endblock %}


 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
	<style type="text/css">
	translate(-50%,-50%);
    background-color: #2a9d8f;

}
.progress{
position: relative;
height: 10px;
width: 1110%;
border: 10px solid #f4a261;
border-radius: 15px;
}
.progress .color{
position: absolute;
background-color: #ffffff;
width: 0px;
height: 10px;
border-radius: 15px;
animation: progres 4s infinite linear;
}
@keyframes progres{
0%{
  width: 0%;
}
25%{
    width: 50%;
}
50%{
    width: 75%;
}
75%{
    width: 85%;
}
100%{
    width: 100%;
}
};





     body {
         font-family: 'lato', sans-serif;
    }
     .container {
         max-width: 1000px;
         margin-left: auto;
         margin-right: auto;
         padding-left: 10px;
         padding-right: 10px;
    }
     h2 {
         font-size: 26px;
         margin: 20px 0;
         text-align: center;
    }
     h2 small {
         font-size: 0.5em;
    }
     .responsive-table li {
         border-radius: 3px;
         padding: 25px 30px;
         display: flex;
         justify-content: space-between;
         margin-bottom: 25px;
    }
     .responsive-table .table-header {
         background-color: #95a5a6;
         font-size: 14px;
         text-transform: uppercase;
         letter-spacing: 0.03em;
    }
     .responsive-table .table-row {
         background-color: #fff;
         box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
     .responsive-table .col-1 {
         flex-basis: 25%;
    }
     .responsive-table .col-2 {
         flex-basis: 25%;
    }
     .responsive-table .col-3 {
         flex-basis: 25%;
    }
     .responsive-table .col-4 {
         flex-basis: 25%;
    }
     @media all and (max-width: 767px) {
         .responsive-table .table-header {
             display: none;
        }
         .responsive-table li {
             display: block;
        }
         .responsive-table .col {
             flex-basis: 100%;
        }
         .responsive-table .col {
             display: flex;
             padding: 10px 0;
        }
         .responsive-table .col:before {
             color: #6c7a89;
             padding-right: 10px;
             content: attr(data-label);
             flex-basis: 50%;
             text-align: right;
        }
    }


</style>

{% block content %}
  <script type="text/javascript">
      function confirmRide(obj) {
      var ride_id = obj.getAttribute("name");
      // send AJAX
      var token =  $('input[name="csrfmiddlewaretoken"]').val();
      $.post('/ride/driver/confirm/',
      {
      id:ride_id,
      csrfmiddlewaretoken:token,
      }, function(data, status){
          if(status != "success"){
              alert("something wrong happen in network");
              return false;
          }
          if(data.status == "fail"){
              alert(data.msg);
              return false;
          }else{
            // jump to search page with data
            var socket = new WebSocket("ws://127.0.0.1:8000/ride/notify/"+ride_id+"/");
            socket.onopen = function(){
                socket.send("confirm");
                socket.onmessage = function(event){
                    if (event.data == "success"){
                      alert("confirm success!");
                      window.location.href = data.url;
                    }
               }
            }
          }
      },"json");
   }
  </script>
    <div>
	<div class="container">
      {% csrf_token %}
  <h2>Driver Search Result</h2>
        <p style="margin-left: 40%"><span>Ride searching is ongoing...</span> <button id="search-cancel" class="btn btn-outline-primary">
            <a href="/ride/test/">cancel Searching</a></button>
        </p>
      <p style="margin-left: 30%">        <button id="search-filter" class="btn btn-outline-primary">
            <a href="/ride/driver/filter">Filter by My Special INFO</a></button>
                  <button id="cancel-filter" style="margin-left: 10%" class="btn btn-outline-primary">
            <a href="/ride/driver/search">Cancel Filter</a></button>
      <p/>


<!--        <div>Now You are searching a ride...</div>-->

  <ul class="responsive-table">
    <li class="table-header">
      <div class="col">Destination</div>
      <div class="col">Early Arrive Time</div>
      <div class="col">Late Arrive Time</div>
      <div class="col">Cur Passenger Num</div>
      <div class="col">Required Vehicle</div>
        <div class="col">Operation</div>
    </li>
    {% for obj in search_data %}
    <li class="table-row" >
      <div class="col" data-label="Job Id">{{obj.dest}}</div>
      <div class="col" data-label="Customer Name">{{obj.etime}}</div>
      <div class="col" data-label="Amount">{{obj.ltime}}</div>
      <div class="col" data-label="Payment Status">{{obj.cur_num}}</div>
      <div class="col">{{obj.vehicle_type}}</div>
        <div class="col"><a class="btn" href="/ride/driver/search/detail?id={{obj.id}}">Detail</a>
            <a class="btn" name="{{obj.id}}"  href="javascript:void(0);" onClick="confirmRide(this)">Confirm</a></div>
    </li>
      {% endfor%}
  </ul>
</div>

    </div>
</div>

{% endblock %}

