{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .table_header{
        text-align: center;
    }
table {
    margin-left: auto;
  margin-right: auto;
border-collapse: collapse;

font-family: Futura, Arial, sans-serif;

}

caption {

font-size: larger;

margin: 1em auto;

}

th,td {

padding: .65em;
text-align: center;
}

th {

background: #555;

border: 1px solid #777;

color: #fff;

}

td {

border: 1px solid#777;

}
</style>
    <div class = "table_header"><h3>Open Order</h3></div>
    <table border="1">
        <thead>
            <tr>
                <th>Creation Time</th>
                <th>Destination</th>
                <th>Early Arrival Time</th>
                <th>Late Arrival Time</th>
                <th>Passenger Number</th>
                <th>Allow Share</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for order in open %}
            <tr>
                <td>{{ order.create_time}}</td>
                <td>{{ order.destination }}</td>
                <td>{{ order.early_arrive_time }}</td>
                <td>{{ order.late_arrive_time }}</td>
                <td>{{ order.people_num }}</td>
                <td>{{ order.is_share }}</td>
                <td><a href ="{% url 'user_ride_detail' %}?ride={{order.ride_id}}&order={{order.id}}">View Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class = "table_header"><h3>Confirmed Order</h3></div>  
    <table border="1">
        <thead>
            <tr>
                <th>Creation Time</th>
                <th>Destination</th>
                <th>Early Arrival Time</th>
                <th>Late Arrival Time</th>
                <th>Passenger Number</th>
                <th>Allow Share</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for order in confirmed %}
            <tr>
                <td>{{ order.create_time}}</td>
                <td>{{ order.destination }}</td>
                <td>{{ order.early_arrive_time }}</td>
                <td>{{ order.late_arrive_time }}</td>
                <td>{{ order.people_num }}</td>
                <td>{{ order.is_share }}</td>
                <td><a href ="{% url 'user_ride_detail' %}?ride={{order.ride_id}}&order={{order.id}}">View Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class = "table_header"><h3>Completed Order</h3></div>
    <table border="1">
        <thead>
            <tr>
                <th>Creation Time</th>
                <th>Destination</th>
                <th>Early Arrival Time</th>
                <th>Late Arrival Time</th>
                <th>Passenger Number</th>
                <th>Allow Share</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for order in completed %}
            <tr>
                <td>{{ order.create_time}}</td>
                <td>{{ order.destination }}</td>
                <td>{{ order.early_arrive_time }}</td>
                <td>{{ order.late_arrive_time }}</td>
                <td>{{ order.people_num }}</td>
                <td>{{ order.is_share }}</td>
                <td><a href ="{% url 'user_ride_detail' %}?ride={{order.ride_id}}&order={{order.id}}">View Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}