<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride service test</title>
<!--	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" />-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<link rel="stylesheet"
			  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css"/>
		<link rel="stylesheet"
			  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css"/>
		<link rel="stylesheet" href="/static/css/bootstrap-material-datetimepicker.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
		<script type="text/javascript" src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"></script>
		<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap-material-datetimepicker.js"></script>
</head>
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-60343429-1', 'auto');
			ga('send', 'pageview');
		</script>

<body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{%url 'index'%}">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{%url 'user_search'%}">Start/Join Ride <span class="sr-only">(current)</span></a></li>
        <li><a href="{%url 'driver_search'%}">Take Order</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi {{user.name}}!<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'account:profile' %}">User Profile</a></li>
              <li><a href="{% url 'user_history' %}">User History</a></li>
              <li><a href="{% url 'driver_history' %}">Driver History</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'account:logout' %}">Log out</a></li>
            </ul>
          </li>
        {% else %}
      <li><a href="{% url 'account:login' %}">Login</a></li>
      <li><a href="{% url 'account:signup' %}">Register</a></li>
      {% endif %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">    <button id="open-ride-btn">open a ride</button>
    <button id="share-ride-btn">share a ride</button></div>

    <div id="form-open" class="container">    <h2>Ride Open</h2>
    <form method='post'  action="/ride/open/">
        {% csrf_token %}
        <p>Destination:</p>
        <p><input type="text" name="dest" class="form-control floating-label dest" placeholder="destination"></p>
        <p>Passenger Number: </p>
        <p><input type="text" name="num" class="form-control floating-label num" placeholder="passenger number"></p>
        <p>Early Arrive Time: </p>
        <p><input type="text" class="form-control floating-label date-format etime" name="etime" placeholder="Choose your early arrive time"></p>
        <p>Late Arrive Time: </p>
        <p><input type="text" class="form-control floating-label date-format ltime" name="ltime" placeholder="Choose your late arrive time"></p>
        <p>Car Type Select:<br><input type="checkbox" name="vehicle" value="S" checked> Small<br>
        <input type="checkbox" name="vehicle" value="M" checked> Middle<br>
        <input type="checkbox" name="vehicle" value="L" checked> Large
        </p>
        <p>Willing to Share ride: <input type="checkbox" name="is_share" value=true checked> <br></p>
        <p>Special Requirement</p>
        <textarea name="sp_info" id="sp_info" placeholder="input special information of your car in less than 100 words" cols="30" rows="10" maxlength="200">
        </textarea>
        <p><input type="submit" value="SUBMIT"><span class="msg-span"></span></p>
    </form></div>

        <div class="container" id= "form-share">   <h2>Ride Share</h2>
        <form method='post'  action="/ride/share/">
        {% csrf_token %}
        <p>Destination:</p>
        <p><input type="text" name="dest" class="form-control floating-label dest" placeholder="destination"></p>
        <p>Passenger Number: </p>
        <p><input type="text" name="num" class="form-control floating-label num" placeholder="passenger number"></p>
        <p>Early Arrive Time: </p>
        <p><input type="text" class="form-control floating-label date-format etime" name="etime" placeholder="Choose your early arrive time"></p>
        <p>Late Arrive Time: </p>
        <p><input type="text" class="form-control floating-label date-format ltime" name="ltime" placeholder="Choose your late arrive time"></p>
        <p><input type="submit" value="SUBMIT"><span class="msg-span"></span></p>
    </form></div>

        <script type="text/javascript">
            $(function () {
                $('#form-share').hide();
                $("#share-ride-btn").click(function(){
                $("#form-share").show();
                $("#form-open").hide();
                });
                $("#open-ride-btn").click(function () {
                    $("#form-share").hide();
                    $('#form-open').show();
                });
            });
    </script>

    <script type="text/javascript">
		$(document).ready(function()
		{
			$('#date').bootstrapMaterialDatePicker
			({
				time: false,
				clearButton: true
			});

			$('#time').bootstrapMaterialDatePicker
			({
				date: false,
				shortTime: false,
				format: 'HH:mm'
			});

			$('.date-format').bootstrapMaterialDatePicker
			({
				format: 'YYYY-MM-DD HH:mm'
			});
			$('#date-fr').bootstrapMaterialDatePicker
			({
				format: 'DD/MM/YYYY HH:mm',
				lang: 'fr',
				weekStart: 1,
				cancelText : 'ANNULER',
				nowButton : true,
				switchOnClick : true
			});

			$('#date-end').bootstrapMaterialDatePicker
			({
				weekStart: 0, format: 'DD/MM/YYYY HH:mm'
			});
			$('#date-start').bootstrapMaterialDatePicker
			({
				weekStart: 0, format: 'DD/MM/YYYY HH:mm', shortTime : true
			}).on('change', function(e, date)
			{
				$('#date-end').bootstrapMaterialDatePicker('setMinDate', date);
			});

			$('#min-date').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', minDate : new Date() });

			$.material.init()
		});
		</script>

  <script type="text/javascript">
      $('#form-open').submit(function() {
      $('#form-open').find(".msg-span").html("");
      var ltime = $('#form-open').find('.ltime').val();
      if (ltime.length == 0){
          $('#form-open').find(".msg-span").html('you must enter late time window!');
          return false;
      }
      var etime = $('#form-open').find('.etime').val();
      var num = $('#form-open').find('.num').val();
      var dest = $('#form-open').find('.dest').val();
      var vehicle_type = $('')
      var is_share = false;
      if($('#form-open input:checkbox[name=is_share]').is(':checked')){
        is_share = true;
      }
      var vehicle_type = '';
    $('#form-open input:checkbox[name=vehicle]:checked').each(function(k){
        if(k == 0){
            vehicle_type = $(this).val();
        }else{
            vehicle_type += ','+$(this).val();
        }
    })
    var sp_info = $('#sp_info').val();
      // send AJAX to check
      var token =  $('input[name="csrfmiddlewaretoken"]').val();
      $.post('/ride/open/',
      {dest:dest,
      etime:etime,
      ltime:ltime,
      num:num,
      csrfmiddlewaretoken:token,
      user_id: 123,
      vehicle_type: vehicle_type,
      is_share: is_share,
      detail: sp_info,
      is_owner:true}, function(data, status){
          if(status != "success"){
              alert("something wrong happen in server");
              return false;
          }
          if(data.status == "fail"){
              $('#form-open').find(".msg-span").html(data.msg);
              return false;
          }else{
            alert("Create Ride success!");
            window.location.href = data.url;
          }

      },"json");
      return false;
   });
  </script>
  <script type="text/javascript">
      $('#form-share').submit(function() {
      $('#form-share').find(".msg-span").html("");
      var ltime = $('#form-share').find('.ltime').val();
      if (ltime.length == 0){
          $('#form-share').find(".msg-span").html('you must enter late time window!');
          return false;
      }
      var etime = $('#form-share').find('.etime').val();
      var num = $('#form-share').find('.num').val();
      var dest = $('#form-share').find('.dest').val();
      // send AJAX to check
      var token =  $('input[name="csrfmiddlewaretoken"]').val();
      $.post('/ride/sharer/edit/',
      {dest:dest,
      etime:etime,
      ltime:ltime,
      num:num,
      csrfmiddlewaretoken:token,
      user_id: 123
      }, function(data, status){
          if(status != "success"){
              alert("something wrong happen in server");
              return false;
          }
          if(data.status == "fail"){
              $('#form-share').find(".msg-span").html(data.msg);
              return false;
          }else{
            // jump to search page with data
            window.location.href = data.url;
          }

      },"json");
      return false;
   });
  </script>
</body>
</html>