{% extends 'base.html' %}

{% block title %}Ride_waiting{% endblock %}

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

{% block content %}

    <div class="container">
      {% if info.status == 0%}
      You are waiting for a driver to pick up your ride
      {%endif%}
    </div>
    <div class="container">
        <h3>Ride detail</h3>
        <div id="ride">
            <table id="ride-table" class="table">
                <caption>Detail information:</caption>
                <tbody>
                    <tr>
                      <th scope="row">Destination</th>
                      <td>{{info.dest}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Ride Owner</th>
                      <td>{{info.owner_name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Current Passenger Number</th>
                      <td>{{info.cur_num}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Rest Enabled Passenger Number</th>
                      <td>{{info.rest_num}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Enable Maximum Passager Number</th>
                      <td>{{info.max_num}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Vehicle Type</th>
                      <td>{{info.vehicle_type}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Early Arrive Time</th>
                      <td>{{info.etime}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Late Arrive Time</th>
                      <td>{{info.ltime}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Create Time</th>
                      <td>{{info.ctime}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Status</th>
                      <td>{{info.status}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Special Information</th>
                      <td>{{info.detail}}</td>
                    </tr>



                    {% if info.status == 'CONFIRM' or info.status == 'COMPLETED'%}
                    <tr>
                      <th scope="row">Driver</th>
                      <td>{{info.driver_name}} <button style="position: relative;
    left: 14px"><a href ="{% url 'view_driver_info' %}?id={{info.driver_id}}">Watch Driver Info</a></button></td>
                    </tr>
                   {% endif %}
                </tbody>
            </table>
            {% if info.status == 'UNCONFIRMED'%}
            {% if order_info.is_owner %}
            <p><span><a id="ride-edit" class="btn btn-success">Edit Ride</a></span></p>
            {% else %}
            {% endif %}
            {% endif %}
        </div>
        <div>
        <form id= "ride-edit-form">
        {% csrf_token %}
        <p>Car Type Select:<br><input type="checkbox" name="vehicle" value="S" checked> Small<br>
        <input type="checkbox" name="vehicle" value="M" checked> Middle<br>
        <input type="checkbox" name="vehicle" value="L" checked> Large
        </p>
        {% if info.is_share == 0 %}
        <p>Willing to Share ride: <input type="checkbox" name="is_share" value=true checked> <br></p>
         {% endif %}
            <p>Special Requirement</p>
        <textarea name="sp_info" id="sp_info" placeholder="input special information of your car in less than 100 words" cols="30" rows="10" maxlength="200">
        {{info.detail}}
        </textarea>
        <p><input type="submit" id="ride-edit-submit" name="{{info.id}}" value="SUBMIT"><span class="msg-span"></span></p><button id="ride-edit-cancel" type="button" class="btn btn-outline-primary"> cancel</button><p>
        </p>
    </form>
        </div>
    </div>
    <div class="container">
        <div  id="order">
            <table class="table">
                <caption>Detail information:</caption>
                <tbody>
                    <tr>
                      <th scope="row">Destination</th>
                      <td>{{order_info.dest}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Passenger Number</th>
                      <td>{{order_info.num}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Early Arrive Time</th>
                      <td>{{order_info.etime}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Late Arrive Time</th>
                      <td>{{order_info.ltime}}</td>
                    </tr>
                </tbody>
            </table>
            {% if info.status == 'UNCONFIRMED'%}
            <p><span><a id="order-edit" name="{{order_info.id}}" class="btn btn-success">Edit Order</a></span>
            </p>
            <p>
                <span><a id="order-cancel" class="btn btn-danger">Cancel Order</a></span>
            </p>
            <p> <span id="err-msg" style="color:red"></span></p>
            {% endif %}

        </div>
        <div class= "form-group" id= "form-share">
                {% csrf_token %}
                <p>Destination:</p>
                <div class="col-lg-12"><input type="text" name="dest" class="form-control floating-label dest" placeholder="destination" value="{{order_info.dest}}"></div>
                <p>Passenger Number: </p>
                <div class="col-lg-12"><input type="text" name="num" class="form-control floating-label num" placeholder="passenger number"value="{{order_info.num}}"></div>
                <p>Early Arrive Time: </p>
                <div class="col-lg-12">
                    <input class="form-control input-inline form_datetime etime"
                    name="tradeTime"  type="text" placeholder="Choose your early arrive time" value="{{order_info.etime}}"
                    />
	            </div>
                <p>Late Arrive Time: </p>
                <div class="col-lg-12">
                    <input class="form-control input-inline form_datetime ltime"
                    name="tradeTime"  type="text" placeholder="Choose your late arrive time" value="{{order_info.ltime}}"
                    />

	            </div>
                <br>
            <br>
            <br>
                <div class="col-lg-12">
                    <input id="submit-edit" type="submit" value="SUBMIT" class="btn btn-outline-primary"><span class="msg-span"></span>
                    <span><button id="edit-cancel" type="button" style="float:right" class="btn btn-outline-primary">cancel</button></span></div>
            </div>
    </div>
     <script type="text/javascript">
     var socket = new WebSocket("ws://127.0.0.1:8000/ride/notify/{{ info.id }}/");
     var heartCheck = {
      timeout: 30000,//30秒
      timeoutObj: null,
      reset: function () {//接收成功一次推送，就将心跳检测的倒计时重置为30秒
            clearTimeout(this.timeoutObj);//重置倒计时
            this.start();
          },
      start: function () {//启动心跳检测机制，设置倒计时30秒一次
            this.timeoutObj = setTimeout(function () {
           var message = {
                "type": "t10010",
                "service": "发送维持连接消息！"
              };
          socket.send(JSON.stringify(message));//启动心跳
          }, this.timeout);
      }
   }



     socket.onopen = function(){
        socket.send("listen");
        heartCheck.start();
     }
    $(".form_datetime").datetimepicker({
	format: 'YYYY-MM-DD HH:mm', //时间格式
	//pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left")//控件显示位置
	});
        var is_edit = false;
        $(function () {
        $('#form-share').hide()
            $("#order-edit").click(function(){
            $("#form-share").show()
                $("#order").hide();
                is_edit = true;
            });
            $("#edit-cancel").click(function () {
                $("#order").show();
                $("#form-share").hide();
                is_edit = false;
            });
        });
    $(function () {
            $('#ride-edit-form').hide();
                $("#ride-edit").click(function(){
                $("#ride-edit-form").show();
                is_edit = true;
                });
                $("#ride-edit-cancel").click(function () {
                    $("#ride-edit-form").hide();
                    is_edit = false;
                });
            });
      $('#order-cancel').click(function(){
            var token =  $('input[name="csrfmiddlewaretoken"]').val();
            $.post('/ride/order/cancel/',
              {
                  csrfmiddlewaretoken:token,
                  id: {{ order_info.id }}
              }, function(data, status){
                  if(status != "success"){
                      alert("something wrong happen in server");
                      return false;
                  }
                  if(data.status == "fail"){
                      $('#err-msg').html(data.msg);
                      return false;
                  }else{
                    if(data.is_owner){
                        // send websocket
                        socket.send("cancel");
                    }
                    alert("Cancel Order Success!");
                    // jump to search page with data
                    window.location.href = data.url;
                  }
              },"json");
      });
      $('#submit-edit').click(function() {
      $('#form-share').find(".msg-span").html("");
      var ltime = $('#form-share').find('.ltime').val();
      if (ltime.length == 0){
          $('#form-share').find(".msg-span").html('you must enter late time window!');
          return false;
      }
      var etime = $('#form-share').find('.etime').val();
      var num = $('#form-share').find('.num').val();
      var dest = $('#form-share').find('.dest').val();
      var id = $('#order-edit').attr('name');
      // send AJAX to check
      var token =  $('input[name="csrfmiddlewaretoken"]').val();
      $.post('/ride/order/edit/',
      {dest:dest,
      etime:etime,
      ltime:ltime,
      num:num,
      csrfmiddlewaretoken:token,
      id:id
      }, function(data, status){
          if(status != "success"){
              alert("something wrong happen in server");
              return false;
          }
          if(data.status == "fail"){
              $('#form-share').find(".msg-span").html(data.msg);
              return false;
          }else{
            // jump to search page with data
            window.location.href = data.url;
          }

      },"json");
      return false;
   });
      $('#ride-edit-form').submit(function() {
      $('#ride-edit-form').find(".msg-span").html("");
      var vehicle_type = $('')
      var is_share = true;
      if(typeof($('#ride-edit-form input:checkbox[name=is_share]')) != "undefined"){
        if(!$('#ride-edit-form input:checkbox[name=is_share]').is(':checked')){
            is_share = false;
        }
      }
      var vehicle_type = '';
    $('#ride-edit-form input:checkbox[name=vehicle]:checked').each(function(k){
        if(k == 0){
            vehicle_type = $(this).val();
        }else{
            vehicle_type += ','+$(this).val();
        }
    })
    var id = $('#ride-edit-submit').attr('name');
    var sp_info = $('#sp_info').val();
      // send AJAX to check
      var token =  $('input[name="csrfmiddlewaretoken"]').val();
      $.post('/ride/edit/',
      {
      csrfmiddlewaretoken:token,
      id:id,
      vehicle_type: vehicle_type,
      is_share: is_share,
      detail: sp_info,
    }, function(data, status){
          if(status != "success"){
              alert("something wrong happen in server");
              return false;
          }
          if(data.status == "fail"){
              $('#ride-edit-form').find(".msg-span").html(data.msg);
              return false;
          }else{
            alert("Edit Ride success!");
            window.location.href = data.url;
          }

      },"json");
      return false;
   });



   socket.onmessage = function(event){
        if(event.data == "confirm"){
            alert("Your ride is confirmed");
            window.location.reload();
        }
        else if(event.data == "join"){
            alert("Someone join your ride");
            if (!is_edit){
                window.location.reload();
            }
        }
        else if(event.data == "cancel"){
            alert("This ride is canceled by owner");
            window.location.reload();
        }
     }

  </script>

    <div class="container">
        <h4>Client Info</h4>
        <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>Destination</th>
            <th>Early Arrive Time</th>
            <th>Late Arrive Time</th>
            <th>Passenger Num</th>
        </tr>
      </thead>
      <tbody>
     {% for obj in order_data %}
        <tr>
          <th scope="row">1</th>
          <td>{{obj.user_name}}</td>
          <td>{{obj.dest}}</td>
          <td>{{obj.etime}}</td>
          <td>{{obj.ltime}}</td>
          <td>{{obj.num}}</td>
        </tr>
     {% endfor%}

      </tbody>
    </table>
    </div>
{% endblock %}