{% extends 'base.html' %}

{% block title %}Sharer Search{% endblock %}

{% block content %}
<div>
    <div class="container">
        <div  id="share-info">
            <table class="table">
                <caption>Your current Search Info:</caption>
                <tbody>
                    <tr>
                      <th scope="row">Destination</th>
                      <td>{{info.dest}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Passenger Number</th>
                      <td>{{info.num}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Early Arrive Time</th>
                      <td>{{info.etime}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Late Arrive Time</th>
                      <td>{{info.ltime}}</td>
                    </tr>
                </tbody>
            </table>
            <p><span><a id="info-edit" class="btn btn-primary">edit</a></span>
                <span style="float: right"><a id="search-cancel" class="btn btn-danger">cancel Searching</a></span>
            </p>
        </div>
        <div class= "form-group" id= "form-share">
                {% csrf_token %}
                <p>Destination:</p>
                <div class="col-lg-12"><input type="text" name="dest" class="form-control floating-label dest" placeholder="destination" value="{{info.dest}}"></div>
                <p>Passenger Number: </p>
                <div class="col-lg-12"><input type="text" name="num" class="form-control floating-label num" placeholder="passenger number"value="{{info.num}}"></div>
                <p>Early Arrive Time: </p>
                <div class="col-lg-12">
                    <input class="form-control input-inline form_datetime etime"
                    name="tradeTime"  type="text" placeholder="Choose your early arrive time" value="{{info.etime}}"
                    />
	            </div>
                <p>Late Arrive Time: </p>
                <div class="col-lg-12">
                    <input class="form-control input-inline form_datetime ltime"
                    name="tradeTime"  type="text" placeholder="Choose your late arrive time" value="{{info.ltime}}"
                    />

	            </div>
                <br>
            <br>
            <br>
                <div class="col-lg-12">
                    <input id="submit-share" type="submit" value="SUBMIT" class="btn btn-outline-primary"><span class="msg-span"></span>
                    <span><button id="edit-cancel" type="button" style="float:right" class="btn btn-outline-primary">cancel</button></span></div>
            </div>
    </div>
</div>





 <script type="text/javascript">
    $(".form_datetime").datetimepicker({
	format: 'YYYY-MM-DD HH:mm', //时间格式
	//pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left")//控件显示位置
	});

        $(function () {
        $('#form-share').hide()
            $("#info-edit").click(function(){
            $("#form-share").show()
                $("#share-info").hide();
            });
            $("#edit-cancel").click(function () {
                $("#share-info").show();
                $("#form-share").hide();
            });
         $("#search-cancel").click(
            function(){
                window.location.href = "/ride/test"
            }
         );
        })

</script>
  <script type="text/javascript">
      $('#submit-share').click(function() {
      $('#form-share').find(".msg-span").html("");
      var ltime = $('#form-share').find('.ltime').val();
      if (ltime.length == 0){
          $('#form-share').find(".msg-span").html('you must enter late time window!');
          return false;
      }
      var etime = $('#form-share').find('.etime').val();
      var num = $('#form-share').find('.num').val();
      var dest = $('#form-share').find('.dest').val();
      // send AJAX to check
      var token =  $('input[name="csrfmiddlewaretoken"]').val();
      $.post('/ride/sharer/edit/',
      {dest:dest,
      etime:etime,
      ltime:ltime,
      num:num,
      csrfmiddlewaretoken:token,
      user_id: 123
      }, function(data, status){
          if(status != "success"){
              alert("something wrong happen in server");
              return false;
          }
          if(data.status == "fail"){
              $('#form-share').find(".msg-span").html(data.msg);
              return false;
          }else{
            // jump to search page with data
            window.location.href = data.url;
          }

      },"json");
      return false;
   });
  </script>
  <script type="text/javascript">
      function joinRide(obj) {
      var ltime = $('#form-share').find('.ltime').val();
      var etime = $('#form-share').find('.etime').val();
      var num = $('#form-share').find('.num').val();
      var dest = $('#form-share').find('.dest').val();
      var ride_id = obj.getAttribute("name");
      // send AJAX
      var token =  $('input[name="csrfmiddlewaretoken"]').val();
      $.post('/ride/sharer/join/',
      {dest:dest,
      etime:etime,
      ltime:ltime,
      num:num,
      ride_id: ride_id,
      csrfmiddlewaretoken:token,
      user_id: 123
      }, function(data, status){
          if(status != "success"){
              alert("something wrong happen in server");
              return false;
          }
          if(data.status == "fail"){
              alert(data.msg);
              return false;
          }else{
            // jump to search page with data, send notification to user
            var socket = new WebSocket("ws://127.0.0.1:8000/ride/notify/"+ride_id+"/");
            socket.onopen = function(){
                socket.send("join");
                socket.onmessage = function(event){
                    if (event.data == "success"){
                        alert("Join Ride Success!")
                    }
                }
                window.location.href = data.url;
            }
          }
      },"json");
   }
  </script>
    <div>
	<div class="container">
  <h2>Search Result</h2>
        <p style="margin-left: 35%">Ride searching is ongoing...</p>


<!--        <div>Now You are searching a ride...</div>-->

  <ul class="responsive-table">
    <li class="table-header">
      <div class="col">Destination</div>
      <div class="col">Early Arrive Time</div>
      <div class="col">Late Arrive Time</div>
      <div class="col">Cur Passenger Num</div>
      <div class="col">Required Vehicle</div>
        <div class="col">Operation</div>
    </li>
    {% for obj in search_data %}
    <li class="table-row" >
      <div class="col" data-label="Job Id">{{obj.dest}}</div>
      <div class="col" data-label="Customer Name">{{obj.etime}}</div>
      <div class="col" data-label="Amount">{{obj.ltime}}</div>
      <div class="col" data-label="Payment Status">{{obj.cur_num}}</div>
      <div class="col">{{obj.vehicle_type}}</div>

        <div class="col"><a class="btn" href="/ride/detail?id={{obj.id}}">Detail</a>
            <a class="btn" name="{{obj.id}}"  href="javascript:void(0);" onClick="joinRide(this)">Select</a></div>

    </li>
      {% endfor%}
  </ul>
</div>

    </div>
{%endblock%}