{% extends 'base.html' %}

{% block title %}Home{% endblock %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    {% block content %}
    <div class="container">
        <h3>Ride detail</h3>
        <div  id="ride">
            <table class="table">
                <caption>Detail information:</caption>
                <tbody>
                    <tr>
                      <th scope="row">Destination</th>
                      <td>{{info.dest}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Ride Owner</th>
                      <td>{{info.owner_name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Current Passenger Number</th>
                      <td>{{info.cur_num}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Rest Enabled Passenger Number</th>
                      <td>{{info.rest_num}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Enable Maximum Passager Number</th>
                      <td>{{info.max_num}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Vehicle Type</th>
                      <td>{{info.vehicle_type}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Early Arrive Time</th>
                      <td>{{info.etime}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Late Arrive Time</th>
                      <td>{{info.ltime}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Create Time</th>
                      <td>{{info.ctime}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Status</th>
                      <td>{{info.status}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Special Information</th>
                      <td>{{info.detail}}</td>
                    </tr>
                </tbody>
            </table>
            {% if info.status == 1%}
<p><span><a id="mark as complete" class="btn btn-primary" href ="{% url 'ride_complete' %}?id={{info.id}}">Mark as completed</a></span></p>
{% endif %}
</div>
</div>
<div class="container">
    <h4>Client Info</h4>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Destination</th>
        <th>Early Arrive Time</th>
        <th>Late Arrive Time</th>
        <th>Passenger Num</th>
    </tr>
  </thead>
  <tbody>
 {% for obj in order_data %}
    <tr >
      <th scope="row">1</th>
      <td>{{obj.user_name}}</td>
      <td>{{obj.dest}}</td>
      <td>{{obj.etime}}</td>
      <td>{{obj.ltime}}</td>
      <td>{{obj.num}}</td>
    </tr>
 {% endfor%}

  </tbody>
</table>
</div>
{%endblock%}