{% extends 'base.html' %}

{% block title %}View driver info{% endblock %}

{% block content %}
<style>
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
    <img src="https://i.ibb.co/dJy4jd5/123.jpg" alt="User" style="width:100%">
  <h1>{{driver.real_name}}</h1>
  <p class="title">Current Driver</p>
  <p>License Plate: {{driver.licence_plate}}</p>
  <p>Vehicle Type: {{driver.vehicle_type}}</p>
  <p>Max Capacity: {{driver.max_capacity}}</p>
  <p>Special Info: {{driver.special_info}}</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
</div>

{%endblock%}