{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <div class="card">
    <img src="/static/123.jpg" alt="User" style="width:100%">
    <h1>{{user.name}}'s profile</h1>
    <a href="{% url 'account:changeinfo' %}">Change Info</a>
    {%if is_driver == 1%}
    <a href="{% url 'account:deldriver' %}">Delete Driver</a>
{% else %}
<a href="{% url 'account:driver_register' %}">Driver Register</a>
{%endif%}
    <p class="title">{{email}}</p>
    {%if is_driver == 1%}
    <p>Real Name: {{driver_info.real_name}}</p>
    <p>License Plate: {{driver_info.licence_plate}}</p>
    <p>Vehicle Type: {{driver_info.vehicle_type}}</p>
    <p>Max Capacity: {{driver_info.max_capacity}}</p>
    <p>Special Info: {{driver_info.special_info}}</p>
    {%endif%}
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
{% endblock %}