{% extends 'base.html' %}

{% block title %}SignUp{% endblock %}
{% block content %}
<style>
    .signup_form{
        width:500px;
        height:500px;
        position: fixed;
        top: 30%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }
</style>
<div class="signup_form">
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Sign up">
</form>
</div>
{% endblock %}