{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
    .login_form{
        width:500px;
        height:500px;
        position: fixed;
        top: 30%;
        left: 50%;
        margin-top: -120px;
        margin-left: -180px;
    }
</style>
<div class=login_form>
<h3>Login is required to view this page!</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Login</button> <a href="{% url 'account:signup' %}">Signup</a>
</form>
</div>

{% endblock %}