{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .changeinfo_form{
        width:500px;
        height:500px;
        position: fixed;
        top: 30%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
        }
    .messages{
        color: red;
    }
</style>
    <div id="ask_register">
        <h2>Change Info</h2>
    </div>
    <div class = "changeinfo_form">
    <form action="" method="post">{% csrf_token %}
        <p>Email: </p>
        <p><input type="text" name="email" minlength="5" maxlength="50" value={{email}}></p>
        {% if is_driver == 1%}
        <p>Real Name: </p>
        <p><input type="text" name="real_name" minlength="5" maxlength="50" value={{driver_info.real_name}}></p>

        <label for="vehicle_type">Vehicle Type:</label>

        <select name="vehicle_type" id="vehicle_type">
            <option value=''> -- select an option -- </option>
            <option value="L">Large</option>
            <option value="M">Medium</option>
            <option value="S">Small</option>
        </select>
        <p>Max Capacity: </p>
        <input type=int name="max_capacity" value = {{driver_info.max_capacity}}>
        <p>License Plate: </p>
        <p><input type="text" name="licence_plate" maxlength="50" value={{driver_info.licence_plate}} ></p>
        <p>Special Info: </p>
        <p><input type="text" name="special_info" maxlength="100" value={{driver_info.special_info}}></p>
        {% endif %}
        <br><br>
        {%for message in messages %}
        <p class="messages">{{message}}</p>
        {% endfor %}
        <input type="submit" value="Change">

    </form>
</div>
{% endblock %}