{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<body>
    <h1>You are not a driver yet!</h1>
    <div id="ask_register">
        <h2>Register as Driver</h2>
    </div>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create" />
    </form>
</body>
{% endblock %}