<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{%url 'index'%}">Home</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{%url 'user_search'%}">Start/Join Ride<span class="sr-only">(current)</span></a></li>
          <li><a href="{%url 'driver_search'%}">Take Order</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi {{user.name}}!<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'account:profile' %}">User Profile</a></li>
                  <li><a href="{% url 'user_history' %}">User History</a></li>
                  <li><a href="{% url 'driver_history' %}">Driver History</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'account:logout' %}">Log out</a></li>
                </ul>
              </li>
            {% else %}
          <li><a href="{% url 'account:login' %}">Login</a></li>
          <li><a href="{% url 'account:signup' %}">Register</a></li>
          {% endif %}
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>